
  <div class="myPhoto"><ng-content select=".myPhoto"></ng-content></div>
  <div class="title">{{ title }}
  </div>
  <div class="left-details">
    <div class="contact-details"><ng-content select=".contact-details"></ng-content></div>
    <div class="about-me"><ng-content select=".aboutMe"></ng-content></div>
  </div>

  <div class="lists">
    <div class="ex-title"><ng-content select=".exTitle"></ng-content></div>
    <div class="subtitle"><ng-content select=".subtitle"></ng-content></div>
    <div class="section-1"><ng-content select=".section_1"></ng-content></div>
    <div class="section-2"><ng-content select=".section_2"></ng-content></div>
  </div>
